@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-white-1: #ffffff;
  --color-white-2: #fcfcfc;
  --color-gray-1: #d6d6d6;
  --color-gray-2: #ececec;
  --color-gray-3: #eaeaea;
  --color-gray-4: #979797;
  --color-gray-5: #828282;
  --color-gray-6: #767676;
  --color-gray-7: #6b6b6b;
  --color-gray-8: #606060;
  --color-black-1: #343434;
  --color-black-2: #3b3b3b;
  --color-black-3: #2e2e2e;
  --color-blue-1: #1797ff;
  --color-blue-2: #1890ff;
  --color-red-1: #dd0031;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.tab-section {
  padding: 50px 0;
  /** Grid CSS styles **/
  display: grid;
  place-items: center;
}

.select-section {
  padding: 0 0 20px 0;
}

.navigator-section {
  padding: 60px 0;
  /** Grid CSS styles **/
  display: grid;
  place-items: center;
}

@media (min-width: 600px) {
  .container {
    width: 75%;
  }

  .tab-section {
    padding: 70px 0;
  }

  .select-section {
    padding: 0 0 30px 0;
  }

  .navigator-section {
    padding: 100px 0;
  }
}
