.card {
  height: 100%;
  width: 100%;
  min-width: 280px;
  background-color: var(--color-white);
  border-radius: 6px;
  border: solid 1px var(--color-gray-4);
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s all;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card:hover {
  opacity: 0.45;
}

.card__content {
  max-width: 75%;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card__fave {
  width: 60px;
  min-width: 60px;
  background-color: var(--color-gray-3);
  border-radius: 0 6px 6px 0;
  display: grid;
  place-items: center;
}

.card__content__time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card__content__time__icon {
  width: 16px;
}

.card__content__time__text {
  color: var(--color-gray-6);
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.card__content__title {
  color: var(--color-gray-7);
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
}

.card__fave__icon {
  cursor: pointer;
  transition: 0.4s all;
}

.card__fave__icon:hover {
  transform: scale(1.2);
}
