.react-select-container {
  width: 100%;
  border-radius: 4px;
  border: solid 1px var(--color-gray-4) !important;
}

.react-select-container:focus {
  outline: none !important;
  border: solid 1px var(--color-black-3);
}

.react-select__control {
  border: none !important;
  /** Flexbox styles **/
  display: flex;
  flex-direction: row;
  align-content: center;
}

.react-select__menu {
  background-color: var(--color-white-1);
  border: none;
  border-radius: 0 !important;
  box-shadow: 0 2px 2px 0 var(--color-gray-3);
}

.react-select__value-container {
  height: 32px;
  margin: 0;
  /** Font styles **/
  color: var(--color-black-1);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  /** Flexbox styles **/
  display: flex;
  flex-direction: row;
  align-content: center;
}

.react-select__indicators {
  height: 32px;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__indicator svg {
  width: 16px;
  color: var(--color-black-3);
}

.react-select__menu-list {
  padding: 0 !important;
}

.react-select__option {
  padding: 12px !important;
  cursor: pointer !important;
  /** Flexbox styles **/
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  /** Font styles **/
  font-size: 14px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
}

.react-select__option img {
  width: 24px;
}

@media (min-width: 768px) {
  .react-select-container {
    width: 240px;
  }
}
