.tab {
  width: fit-content;
}

.tab__item {
  width: 100px;
  background-color: var(--color-white-1);
  color: var(--color-gray-7);
  padding: 2px 0;
  border: 1px solid var(--color-gray-1);
  border-radius: 2px;
  cursor: pointer;
  /** Font styles **/
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
}

.tab__item:first-child {
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.tab__item:last-child {
  border-radius: 0 2px 2px 0;
}

.tab__item:hover {
  color: var(--color-blue-1);
  border: 1px solid var(--color-blue-1);
}

.tab__item:first-child:hover {
  border-right: none;
}

.tab__item:first-child:hover + .tab__item:last-child {
  border-left: 1px solid var(--color-blue-1);
}
